#food-herosection-bg {
    background-image: linear-gradient(#000000a6, #000000a6),
        url("../images/food-bg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

#food-herosection-bg > div {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.food-holder-card:hover {
    transform: translateY(-3px);
    border-radius: 0.5rem;
    background: #fff;
}

.menu-img-holder {
    width: 40%;
}

.category-card:hover {
    transform: scale(1.1);
}
.category-card > a > p {
    text-align: center;
    color: #fff;
    background: green;
    width: 50%;
    padding: 10px;
    position: relative;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#special-menu-container {
    background-image: linear-gradient(#000000de, #000000cf),
        url("../images/food-bg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

#mobile_menu {
    display: block;
    cursor: pointer;
}
.mobile_icon {
    width: 30%;
    height: 0px;
    margin: 5px;
    padding-left: 25px;
    border: 1px solid #000;
}
#nav {
    top: 0;
    width: 80%;
    margin-right: 20%;
}

.main-body {
    width: 80%;
    margin-right: 20%;
}

.left-nav {
    display: none;
    top: 0;
    position: fixed;
    width: 20%;
    height: 100vh;
    background: #fff;
    z-index: 1;
}

.left-nav > h1 {
    border-bottom: 1px solid #000;
    padding: 15px;
}

.left-nav ul {
    padding: 10px 0px 10px 0px;
}

.left-nav ul li {
    padding: 15px 0px 0px 20px;
}

.right-nav {
    top: 0;
    position: fixed;
    width: 20%;
    height: 100vh;
    margin-left: 80%;
    z-index: 1;
}

.content-text {
    width: 83%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff0505de;
    border-radius: 9px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 4rem;
}

.content-text > div {
    width: 50%;
}

.content-text > div h1 {
    font-size: 2.7em;
    line-height: 1.2em;
}

.content-text > div img {
    width: 200px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-1%, -1%);
}

.toggle {
    display: block !important;
}

.toggleBodyWidth {
    width: 70%;
    margin-left: 15%;
}

.toggleNavWidth {
    width: 60% !important;
    margin-left: 20%;
}

.div-img {
    width: 200px;
    position: relative;
    top: -50%;
    left: -0;
    transform: translate(-6%, -1%) !important;
}

.mealListBox {
    display: none;
}

.showMealBox {
    display: block !important;
}
